<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
      <title>Doctor Dashboard | Personal-Doctor</title>
      <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="/static/css/navbar.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   </head>
   <body>
      {{>header}}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 theiaStickySidebar">
                  <div class="card">
                     <div class="card-header">
                        <h4 class="card-title mb-0 p-3">
                           Dr <script>document.write(localStorage.getItem("userName"))</script>
                        </h4>
                     </div>
                     <div class="card-body">
                        <div> <a class="btn btn-primary col-lg-12 col-md-12 col-sm-12 m-1 p-2 px-3" href="/dashboard" style="text-align: left !important;">Doctor Dashboard</a> <a class="btn btn-primary col-lg-12 col-md-12 col-sm-12 m-1 p-2 px-3" href="/pendingRequests" style="text-align: left !important;">Pending Requests</a> <a class="btn btn-primary col-lg-12 col-md-12 col-sm-12 m-1 p-2 px-3" href="/doctorApplication" style="text-align: left !important;">Doctor Application</a> <a class="btn btn-primary col-lg-12 col-md-12 col-sm-12 m-1 p-2 px-3" href="/contact" style="text-align: left !important;">Payment not received</a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-9 col-sm-9 col-lg-9 col-xl-9">
                  <div class="card m-3 bg-light p-3 text-center bg-dark text-white">
                     <h1>Upcoming Appointments</h1>
                  </div>
                  {{#each dataBookings}}
                  {{#ifEquals isAccepted "true"}}
                  <div class="card m-3 bg-dark p-2 px-4" docUserName="{{docUserName}}" style="display: none;">
                     <div class="carBody d-flex">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 d-flex align-items-center p-3" style="justify-content: space-between;">
                           <div class="details">
                              <h3 class="text-white">Username - {{userName}}</h3>
                              <div class="rating"> 
                                 <span id="Stars{{_id}}"></span>
                                 <span class="d-inline-block text-white">({{totalCalls}})</span> 
                              </div>
                           </div>
                           <div class="date"> <a href="#" class="btn btn-secondary">{{date}}</a> </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 d-flex align-items-center" style="justify-content: space-between;">
                           <div class="time"> <a href="#" class="btn btn-secondary">{{time}}</a> </div>
                           <div class="appointment-action">
                              <a href="#" class="btn btn-sm btn-outline-info mx-1" data-bs-toggle="modal" data-bs-target="#C{{_id}}"> <i class="far fa-eye"></i> View </a>
                              <div class="modal fade" id="C{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <h5 class="modal-title" id="aboutModalLabel">Details about problem...</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                       </div>
                                       <div class="modal-body">
                                          <p>{{description}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <a href="/doctorConsult/{{userName}}/{{docUserName}}" class="btn btn-sm btn-outline-success mx-3"> <i class="fa-regular fa-message"></i> Chat </a>
                           </div>
                        </div>
                     </div>
                     <div class="px-3">
                        <p style="color: rgb(194, 188, 188);">Note: Please start the meeting 5 minutes before the scheduled time.</p>
                     </div>
                  </div>
                  {{>ratingLogic}}
                  {{/ifEquals}}
                  {{/each}}
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="loginPopUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="staticBackdropLabel">Alert</h4>
               </div>
               <div class="modal-body">
                  <h6 id="popUpBody">Kindly log in to your account to access this page.</h6>
               </div>
               <div class="modal-footer">
                  <a href="/signUp" class="btn btn-primary" id="popUpBtn">SignUp or Login</a>
               </div>
            </div>
         </div>
      </div>
      {{>footer}}
      <script>
         document.addEventListener("DOMContentLoaded", function() {
             var hasData = localStorage.getItem("email");
             if(!hasData){
                 var myModal = new bootstrap.Modal(document.getElementById('loginPopUp'));
                 myModal.show();  
             }
             if(localStorage.getItem("role")=="Patient"){
                 document.getElementById("popUpBody").innerText="Access to this page is restricted to doctorss only; As a patient, you do not have the right to access this.";
                 document.getElementById("popUpBtn").innerText="Back to Home";
                 document.getElementById("popUpBtn").setAttribute("href","/")
                 var myModal = new bootstrap.Modal(document.getElementById('loginPopUp'));
                 myModal.show(); 
             }
             var targetUsername = localStorage.getItem("userName")
             var divElements = document.querySelectorAll('div[docusername="' + targetUsername + '"]');
             divElements.forEach(function (element) {
                 element.style.display = 'block';
             });
         })
      </script>
      <script src="/static/javascript/navBar.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   </body>
</html>